*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    align-items: center;
    text-align: center;
}
.con{
    border: solid 1px black;
    height: 500px;
    width: 800px;
    margin-top: 50px;
    padding: 20px;
}
#num{
    width: 85px;
    height: 80px;
    
}
#rel{
    border: solid 1px black;
    width: 85px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cent{
    margin: auto;
    margin-left: 80px;
    margin-top: 30px;
    text-align: center;

}
.p1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.con2{
    margin-top: 50px;
}
.con3{
    display: flex;
    flex-direction: column;; 
    align-items: center;
    justify-content: center; 
}
.con3>p:nth-child(3){
    margin-top: 20px;
    
}

#grados{
    border: solid 1px  black;
    height: 250px;
    width: 60px;
    transform: rotate(180deg);
    border-radius: 10px;
}
#liquid{
    background-color: red;
    border-radius: 10px;
}

button{
    border: solid 1px  black;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(61, 240, 253);
    color: black;
    margin: 5px;
}

button:hover{
    background-color: rgb(55, 0, 255);
    color: white;
}


